{% load staticfiles %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <script>
        window.history.forward();
    </script>
    <title>Vishal PG</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Villas Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->

    <!-- Custom-Files -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->

    <!-- Web-Fonts -->
    <link href="//fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Oxygen:300,400,700&amp;subset=latin-ext" rel="stylesheet">
    <!-- //Web-Fonts -->
</head>

<body>
    <!-- main banner -->
    <div class="main-top" id="home">
        <!-- header -->
        <header>
            <div class="container-fluid">
                <div class="header d-md-flex justify-content-between align-items-center py-3 px-xl-5 px-lg-3 px-2">
                    <!-- logo -->
                    <div id="logo">
                        <h1><a href="index.html">Vishal PG</a></h1>
                    </div>
                    <!-- //logo -->
                    <!-- nav -->
                    <div class="nav_w3ls">
                        <nav>
                            <label for="drop" class="toggle">Menu</label>
                            <input type="checkbox" id="drop" />
                            <p><h3 style="color:white;">Welcome : Admin</h3></p>
                            <ul class="menu">
                                <li><a href="/admin_home/" class="active">Home</a></li>

                                <li>
                                    <!-- First Tier Drop Down -->
                                    <label for="drop-2" class="toggle toogle-2">Add Info <span class="fa fa-angle-down" aria-hidden="true"></span>
                                    </label>
                                    <a href="#">Add Info <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                    <input type="checkbox" id="drop-2" />
                                    <ul>
                                        <li><a href="{% url 'pgdetails' %}" class="drop-text">PG Details</a></li>
                                        <li><a href="{% url 'guestdetails' %}" class="drop-text">Guest Details</a></li>
                                        <li><a href="{% url 'expense' %}" class="drop-text">Expense Details</a></li>
                                        <li><a href="{% url 'payment_card' %}" class="drop-text">Payment Card</a></li>

                                    </ul>
                                </li>


                                <li>
                                    <!-- First Tier Drop Down -->
                                    <label for="drop-2" class="toggle toogle-2">Reports <span class="fa fa-angle-down" aria-hidden="true"></span>
                                    </label>
                                    <a href="#">Reports <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                    <input type="checkbox" id="drop-2" />
                                    <ul>
                                        <li><a href="{% url 'pgview' %}" class="drop-text">PG View</a></li>
                                        <li><a href="{% url 'expenseview' %}" class="drop-text">Expense Details</a></li>
                                        <li><a href="{% url 'guestview' %}" class="drop-text">Guest View</a></li>
                                        <li><a href="{% url 'paycardview' %}" class="drop-text">Paycard View</a></li>
                                        <li><a href="{% url 'monthly_report' %}" class="drop-text">Monthly Collection Report</a></li

                                    <li><a href="{% url 'yearly_report' %}" class="drop-text">Yearly Collection Report</a></li>

                                    </ul>
                                </li>
                                <li><a href="{% url 'index' %} ">Logout</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- //nav -->
                </div>
            </div>
        </header>
        <!-- //header -->

        <!-- banner -->
        <div class="banner_w3lspvt-2">

        </div>
        <!-- //banner -->
    </div>
    <!-- //main banner -->

    <!-- page details -->
    <div class="breadcrumb-mobamu">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                
            </li>
            
        </ol>
    </div>
    <!-- //page details -->

    <!-- booking form -->
    <div class="register-w3 py-5">
        <div class="container py-xl-5 py-lg-3">
            <h3 class="tittle text-center text-bl font-weight-bold">Guest Details</h3>
            
            <div class="comment-top mt-5">
                <div class="comment-bottom mobamuinfo_mail_grid_right" style="width:1200px;">
<table border="1" width="400">

    <tr style="background-color:blue;color:white;">
        <td> Date</td>
        <td> PGid</td>
        <td> Custid</td>
        <td> Bookid</td>
        <td> Studentname</td>
        <td> Mobilenumber</td>
        <td> Permanentaddress</td>
        <td> City</td>
        <td> Roomno</td>
        <td> studenttype</td>
        <td> Depositamount</td>
        <td colspan="2" style="background-color:red; color:white; text-align:center;"> Activity </td>

    </tr>
    {% for reg in user_dict %}
    <tr>
        <td>{{reg.Date}}</td>
        <td>{{reg.PGid}}</td>
        <td>{{reg.Custid}}</td>
        <td>{{reg.Bookid}}</td>
        <td>{{reg.Studentname}}</td>
        <td>{{reg.Mobilenumber}}</td>
        <td>{{reg.Permanentaddress}}</td>
        <td>{{reg.City}}</td>
        <td>{{reg.Roomno}}</td>
        <td>{{reg.studenttype}}</td>
        <td>{{reg.Depositamount}}</td>
        <td><form action="/guest_remove/" method = "post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{reg.id}}"/>
            <input type="submit" value="delete">
        </form>
        </td>
             <td><form action="/guest_update/" method = "post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{reg.id}}"/>
            <input type="submit" value="update">
        </form>
        </td>
    </tr>
{% endfor %}
</table>
</div>
            </div>
        </div>
    </div>
    <!-- //booking form -->

    <!-- footer -->
    <footer class="py-5">
        <div class="container pt-xl-4">
            <div class="row footer-top">
                <div class="col-lg-4 col-md-6 footer-grid_section_1its">
                    
                    <!-- Map -->
                    
                    <!-- //Map -->
                </div>
                
                
                <div class="col-lg-3 col-md-6 footer-grid_section_1its mt-lg-0 mt-4">
                    <!-- social icons -->
                    <div class="mobamuinfo_social_icons">
                        
                        
                        
                    </div>
                    <!-- social icons -->
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="cpy-right text-center py-3">
        <p>© 2019 Vishal PG. All rights reserved
        </p>
    </div>
    <!-- //copyright -->

    <!-- move top icon -->
    <a href="#home" class="move-top text-center"></a>
    <!-- //move top icon -->

</body>

</html>